.Home {
    width: 100%;
    height: calc(100vh - 4.5rem);
}
.Home > img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 4.5rem;
    z-index: -1;
}
.home-intro {
    height: 20rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 25%;
}
.home-intro > h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 3.5rem;
    margin: 1rem;
}
.home-intro > p{
    text-align: center;
    line-height: 1.5;
}

.home-category {
    margin: 5.5rem 5.5rem !important;
}
.home-category > h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 2.5rem;
}
.home-category > p {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
}
.home-category-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.home-category-link > a {
    text-decoration: none;
    color: black;
}
.home-category-link > a > img {
    width: 100%;
}
.home-category-link > a > p {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 1.5rem;
}
.home-category-link > a:hover > img {
    opacity: 0.6;
}
.home-category-link > a:hover > p {
    color: #B18165;
}

.home-allProduct {
    padding: 5.5rem;
    background-color: #F4F0EB;
}
.home-allProduct-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-allProduct-header > h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 2.5rem;
}
.home-allProduct-header > div {
    display: flex;
    align-items: center;
}
.home-allProduct-header > div > input {
    height: 2.5rem;
    width: 20rem;
    border: 1px solid black;
    padding-left: 0.5rem;
    border-right: 0;
}
.home-allProduct-header > div > button {
    border: 1px solid black;
    width: 5rem;
    height: 2.5rem;
    color: white;
    background-color: black;
}
.home-allProduct-header > div > button:hover {
    border: 1px solid #B18165;
    background-color: #B18165;
    cursor: pointer;
}
.home-allProduct-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin-top: 3rem;
}